.box{
    border-radius: 10px;
    padding: 80px;
    margin: 40px auto;
    width: 350px;
    
    background-color: rgb(0, 255, 140);
}

.box h2{
    font-family: "poppins";
    font-size: 35px;
    line-height: 1.3;
}

.btn{
    padding: 12px;
    width: 80%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    
    margin-top: 10px;
}

.another-box{
    border: 1px solid grey;
    border-radius: 10px;
    width: 450px;
    margin: 40px auto;
    padding: 18px;

}

.another-box h3{
    font-family: "poppins";
    font-weight: 100;
}

.another-box p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border{
    border-top: 1px solid grey;
    color: blue;
}


.profile{
    width: 200px;
   
}

.card{
    border: 1px solid, grey;
    width: 450px;
    padding: 15px;
    margin: 40px auto;
    
}

.card h3{
    font-family: "poppins";
    font-weight: 100;
}

.card p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    
}

.main-image{
    width: 100%;
    border-radius: 10px;
}

.card-btn{
color: blue;
border: 1px solid rgb(171, 171, 171);
background-color: white;
padding: 10px;
width: 30%;
margin-top: 10px;

}

.login{
    text-align: center;
    
    width: 300px;
    padding: 40px;
    margin: 40px auto;
}

.login h3{
    font-family: "poppins";
    font-weight: 100;
}

.logo{
    width: 60%;
    
   
}
.content{
    
    margin-bottom: 10px;
    padding: 12px 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;
}

.content-btn{
    background-color:black;
    width: 80%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 10px 0px 20px 0px;
}

.main-para p{
    margin-top: 15px;
    line-height: 0.5;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
   
   
}

.bottom-content p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: grey;
    margin-top: 35px;
    line-height: 1.5;
    
   
}

span{
    
    text-decoration: underline;
}